<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Zoe Around the World</title>
    <meta name="description" content="Zoe around the world">
    <meta name="author" content="Oskar Bunyan">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{static_url('main.css')}}">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->


</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <globe params="appl:$root"></globe>
    <svgglobe params="appl:$root"></svgglobe>
    <visits params="appl:$root"></visits>

</div>

<script src="{{static_url('bower_components/requirejs/require.js')}}"></script>
<script src="{{static_url('main.js')}}"></script>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
