@import url("bower_components/skeleton/css/skeleton.css");
@import url("bower_components/skeleton/css/normalize.css");
@import url("bower_components/font-awesome/css/font-awesome.css");

/* module css */

/*-----visits-----*/
@import url("modules/visits/main.css");

/*----elastic menu-----*/
@import url("modules/elasticmenu/main.css");


/*----Research blog----*/
@import url("modules/research/main.css");

/*-----Interactable map----*/
@import url("modules/svgglobe/main.css");

.globe {
    position: absolute;
    top: 10px;
    width: 100%;
    visibility: visible;
    transition: visibility 1s;
}

.entered .globe {
    visibility: hidden;
}

.map {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    transition: opacity 1s, visibility 1s;
}

.entered .map {
    opacity: 1;
    visibility: visible;
}

.enter {
    background: whitesmoke;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-top: -19px;
    margin-left: -52px;
}
